@{
    ViewBag.Title = "Маршруты";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Маршруты</h1>
    <span>
        <ul>

            <h4>
            <li>@Html.ActionLink("Архив", "Index", "Routes")</li></h4>
            <h4>
            <li>@Html.ActionLink("Добавить маршрут", "Add", "Routes")</li></h4>

        </ul>
    </span>
</body>
</html>