<form method="post" action="/directory/TurntablesLoad">
    @{
        //  Layout = null;//для представления не используется мастер-страница
    }<br />
    <table>
        <tr>
            <td>Код</td>
            <td><input name=id required></td>
        </tr>
        <tr>
            <td>Наименование</td>
            <td><input name=name required></td>
        </tr>

    </table>


    @{

    }
    <button type="submit" value="">Добавить</button>
    <button type="button" onclick="javascript:history.go(-1);">Назад</button>

</form>

